body {
  margin: 1rem;
  font-family: sans-serif;
  color: #555;
}

section {
  max-width: 1200px;
}

.summary span {
  font-weight: 700;
}

.desc {
  width: 40%;
}

.ct-chart svg {
  overflow: visible;
}

.ct-label {
  font-size: 60%;
}

.ct-series-b .ct-bar {
  stroke: #f4c63d;
}

.chartist-tooltip {
  text-align: center;
  font-size: 50%;
  background: #b7efd3;
}

.chartist-tooltip:before {
  border-top-color: #b7efd3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

body.loading main {
  display: none;
}

body:not(.loading) #loading {
  display: none;
}

figure {
  margin-top: 4rem;
}

figcaption {
  position: absolute;
  top: -2rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #aaa;
}

#topFails > svg {
  left: 10%;
  top: 10%;
}

label {
  display: inline;
}
